.block-4 {
  margin-left: 5px;
  margin-right: 0;
  flex-basis: 50%;
  position: relative;

  @include nav-numbers ('4', 30px, 15px);
}

@media screen and (min-width: 600px) {
  .block-4 {
    @include flex-child-1of2;

    &:after {
      right: 45px;
    }
  }
}