.block-7 {
  margin-left: 0;
  margin-right: 5px;
  flex-basis: 50%;
  position: relative;

  @include nav-numbers ('7', 30px, 15px);
}

@media screen and (min-width: 600px) {
  .block-7 {
    @include flex-child-2of2;

    &:after {
      right: 45px;
    }
  }
}