.main {
  @include wrapper;
  padding-bottom: 215px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (min-width: 600px) {
  .main {
    flex-direction: row-reverse;
  }
}